<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Home</title>
</head>

<body>
<div class = "container">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3" style=" display:flex; flex-direction: column;">
      <i class="fa fa-facebook-official"></i> <span>Facebook</span> <br>
      <i class="fa fa-instagram"></i> <span>Instagram</span> <br>
      <i class="fa fa-envelope-open"></i> <span>E-mail</span>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9" style="justify-content: flex-end; display:flex;">
      <h3>Dowolny text</h3>
    </div>
  </div>
  <div class="scroll">
    <button class="btn btn-success">
      <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>Do góry
    </button>
  </div>

  <footer class = "bottom">
    <h3>
      Copyrights &copy; Mykola Pylypenko | 2019
    </h3>
  </footer>

</div>
</body>
</html>
