<form>
  <div class="container row">
    <div class = "col-xl-5 col-sm-8 box">
      <div>
        <label>Imie:</label>
        <div>
          <input type = "text" placeholder="Podaj imie">
        </div>
      </div>
      <div>
        <label>Nazwisko:</label>
        <div>
          <input type = "text" placeholder="Podaj nazwisko">
        </div>
      </div>
      <div>
        <label>E-mail:</label>
        <div>
          <input type = "text" placeholder="Podaj nazwisko">
        </div>
      </div>
      <div>
        <label>Plec:</label>
        <div>
          <div class ="form-check-inline">
            <input type = "radio" name="radioButtons">
            <label class ="odstep">Mezczyzna</label>
          </div>
          <div class ="form-check-inline">
            <input name="radioButtons" type = "radio">
            <label class="odstep">Kobieta</label>
          </div>
        </div>
      </div>
      <div>
        <label>Opis</label>
        <div>
          <textarea rows="4" cols="50"></textarea>
        </div>
      </div>
      <div>
        <label>Wiek:</label>
        <div>
          <input type="number">
        </div>
      </div>
      <div>
        <label>Stan cywilny</label>
        <div>
          <select>
            <option value="1">Opcja1</option>
            <option value="2">Opcja2</option>
            <option value="3">Opcja3</option>
            <option value="4">Opcja4</option>
          </select>
        </div>
      </div>
      <div style="padding: 10px">
        <button>Wyczysc</button>
        <button>Wyslij</button>
      </div>
    </div>
  </div>
</form>

