<ul class="nav justify-content-center" style="background-color:greenyellow">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['']">Home</a>'
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['../blog']">Blog</a>'
    </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/add-post']">Create new post</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['../contact']">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/login" *ngIf="!authService.isLoggedIn()">Zaloguj</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="logOut()" *ngIf="authService.isLoggedIn()">Wyloguj</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/signup" *ngIf="!authService.isLoggedIn()">Zarejestruj</a>
  </li>
</ul>

