body {
  background-color : yellow;
  display: flex;
  align-items: center;
  align-content: space-between;
  flex-flow: wrap column;
}

.bottom {
  background-color:rgba(0, 0, 0, 0.5);
  display : flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.navigation {
  display : flex;
  justify-content: center;
}

.scroll {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display:none;
}


.list-group-item {
  cursor: pointer;
}

.home-text {
  display: flex;
  justify-content: center;
}

